/*
Copyright (c) 2016 Micky 4.0
------------------------------------------------------------------
[animation style Stylesheet]
Project:	 Micky 4.0
-------------------------------------------------------------------*/

.fromtop {
    -webkit-animation: fromtop 1s 1;
    -moz-animation: fromtop 1s 1;
    animation: fromtop 1s 1;
}
@-webkit-keyframes fromtop {
    from {
        -webkit-transform: translateY(-30px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fromtop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes fromtop {
    from {
        -moz-transform: translateY(-30px);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes fromtop {
    from {
        -o-transform: translateY(-30px);
        opacity: 0;
    }
    to {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}
.frombottom {
    -webkit-animation: frombottom 1 1s ease-in-out;
    -moz-animation: frombottom 1 1s ease-in-out;
    animation: frombottom 1 1s ease-in-out;
}
@-webkit-keyframes frombottom {
    from {
        -webkit-transform: translateY(100px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes frombottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes frombottom {
    from {
        -moz-transform: translateY(100px);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
.fromleft {
    -webkit-animation: fromleft 1s 1;
    -moz-animation: fromleft 1s 1;
    animation: fromleft 1s 1;
}
@-webkit-keyframes fromleft {
    from {
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fromleft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@-moz-keyframes fromleft {
    from {
        -moz-transform: translateX(-100px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}
.fromright {
    -webkit-animation: fromright 1s 1;
    -moz-animation: fromright 1s 1;
    animation: fromright 1s 1;
    -o-animation: fromright 1s 1;
}
@-webkit-keyframes fromright {
    from {
        -webkit-transform: translateX(100px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fromright {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@-moz-keyframes fromright {
    from {
        -moz-transform: translateX(100px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}
@-o-keyframes fromright {
    from {
        -o-transform: translateX(100px);
        opacity: 0;
    }
    to {
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes slidefromRight {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slidefromRight {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slidefromRight {
  from {
    -moz-transform: translate3d(100px, 0, 0);
    visibility: visible;
  }

  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

.slidefromRight {
  -webkit-animation: slidefromRight 1s 1;
  animation: slidefromRight 1s 1;
  -moz-animation: slidefromRight 1s 1;
}

.zoom {
    -webkit-animation: zoom infinite 1s;
    -moz-animation: zoom infinite 1s;
    animation: zoom infinite 1s;
}
@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
    }
	100% {
        -webkit-transform: scale(1);

    }
}

@-moz-keyframes zoom {
    0% {
        -moz-transform: scale(1);
    }
    50%{
        -moz-transform: scale(1.1);
    }
	100% {
        -moz-transform: scale(1);

    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
	100% {
        transform: scale(1);

    }
}

.zoom_middle {
    -webkit-animation: zoom_middle 1 0.5s alternate;
    -moz-animation: zoom_middle 1 0.5s alternate;
    animation: zoom_middle 1 0.5s alternate;
    -o-animation: zoom_middle 1 0.5s alternate;
}
@-webkit-keyframes zoom_middle {
    from {
        -webkit-transform: scale(0.9);
        opacity: 0;
        visibility: hidden;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes zoom_middle {
    from {
        transform: scale(0.9);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}
@-moz-keyframes zoom_middle {
    from {
        -moz-transform: scale(0.9);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}
@-o-keyframes zoom_middle {
    from {
        -o-transform: scale(0.9);
        opacity: 0;
    }
    to {
        -o-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #000000, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.3);
        opacity: 0;
    }
}
@-webkit-keyframes fixed_menu_animation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fixed_menu_animation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fixed_menu_animation {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -moz-transform: none;
    }
}
.fixed_menu_animation {
    -webkit-animation: fixed_menu_animation;
    animation: fixed_menu_animation;
    -moz-animation: fixed_menu_animation;
}
@keyframes circle_zoom {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@-webkit-keyframes circle_zoom {
    0% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}
@-moz-keyframes circle_zoom {
    0% {
        -moz-transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1.2);
        opacity: 0;
    }
}
.circle_zoom {
    animation: circle_zoom 2s 1 0.5s;
    -webkit-animation: circle_zoom 2s 1 0.5s;
    -moz-animation: circle_zoom 2s 1 0.5s;
}
.slider_mockup_thumb img {
    animation: fromright 2s  5ms;
    -webkit-animation: fromright 2s  5ms;
    -moz-animation: fromright 2s 5ms;
    -o-animation: fromright 2s  5ms;
}
.slider_mockup_thumb .cricle_button {
    animation: fromtop 2s 200ms;
    -webkit-animation: fromtop 2s 200ms;
    -moz-animation: fromtop 2s 200ms;
    -o-animation: fromtop 2s 200ms;
}