/*
Copyright (c) 2016 Micky 4.0
------------------------------------------------------------------
[Responsive style Stylesheet]
Project:	 Micky 4.0
-------------------------------------------------------------------*/

@media (min-width:1600px){
	.bg_circle_shape {
		margin-top: -243px;
	}
	.bg_circle_shape:after {
		left:-25%;
	}
}

@media (max-width:1200px){
	.slider_mockup_thumb .cricle_button{
		width: 150px;
		height: 150px;
		font-size: 13px;
		line-height: 25px;
		padding-top: 45px;
	}
	.bg_circle_shape{
		margin-top:-50px;
	}
	.mkf_right_image {
		margin-left: 0;
	}
}

@media(max-width:991px){
	#screen_crousel .carousel-indicators > div{
		margin-right: 1%;
		width: 24%;
	}
	
	.right_map_thumb {
		margin-top: 50px;
	}
	.right_map_thumb img{
		padding-left:0px;
	}
	.footer_copyright {
		margin-top: 0;
		padding: 20px 0px;
	}
	/* circle shape css */
	.bg_circle_shape:after{
		left:0;
	}
	/* circle shape css */
	
	/* map section css */
	.mkf_contact_section{
		text-align:center;
	}
	.map_main{
		display:inline-block;
	}
	/* map section css */
}

@media (min-width:768px) and (max-width:991px){
	 /* screenshot crousel css */
	 .crousel_indicator {
		width: 75%;
	}
	.mockup_short {
		width: 25%;
		margin-top: 110px;
	}
	.mockup_bg .mockup_bg_inner {
		padding: 27px 28px;
	}
	/* screenshot crousel css*/
	
	/* navigation css */
	.mkf_navigation ul > li > a {
		font-size: 12px;
		padding: 0px 10px 30px 10px;
	}
	/* navigation css */
	.app_download_part .mkf_heading {
		padding-bottom: 50px;
	}
	.app_download_part .app_circle > a {
		width: 155px;
		height: 155px;
		padding-top: 32px;
	}
	.app_download_part .app_circle > a > i {
		font-size: 34px;
	}
	.app_download_part .app_circle > a h4 {
		font-size: 14px;
	}
	.slider_mockup_thumb .cricle_button {
		width: 140px;
		height: 140px;
		font-size: 12px;
		line-height: 21px;
		padding-top: 43px;
		top: 0;
		right:0;
	}
}


@media (min-width:992px) and (max-width:1200px){
	.mockup_short {
		width: 26%;
		margin-top:95px;
	}
	.mockup_bg .mockup_bg_inner {
		padding: 38px 41px;
	}
	/* navigation css */
	.mkf_navigation ul > li > a {
		font-size: 15px;
		padding: 0px 22px 40px 22px;
	}
	/* navigation css */
	.contact_map {
		padding: 50px 150px 193px 55px;
	}
}

@media (max-width:1024px){
	.bg_circle_shape {
		margin-top: 0;
	}
}

@media (max-width:767px){
	
	/* screenshot section css */
	#screen_crousel .carousel-indicators > div {
		margin-right: 5%;
		width: 20%;
	}
	.mockup_short {
		display: inline-block;
		float: none;
	}
	#screen_crousel{
		text-align:center;
	}
	.mockup_bg {
		position: relative;
		top: 0;
	}
	.mockup_bg .mockup_bg_inner {
		padding: 65px 70px;
	}
	/* screenshot section css */
	
	/* navigation css start */
	.mkf_navigation_wrapper{
		text-align:center;
		background: #182945;
		padding:20px 0px;
	}
	.menu_toggle{
		display:block;
	}
	.mkf_logo {
		display: inline-block;
		margin-top: 20px;
		float: none;
	}
	.mkf_navigation {
		text-align: center;
		position: relative;
		margin-top:30px;
		left: 0;
		width:100%;
		z-index: 9;
		background: #403d43;
		display:none;
		
 	}
	.mkf_navigation.menu_open {
		display:block;
		-webkit-animation:fromtop 1s 1;
		-moz-animation:fromtop 1s 1;
		-o-animation:fromtop 1s 1;
		 animation:fromtop 1s 1;
	}
	.mkf_navigation > ul > li:after{
		background-color:transparent;
	}
	.mkf_navigation ul li {
		float: none;
		display: inline-block;
		width:100%;
	}
	
	.mkf_navigation ul li a {
		padding: 10px 0px;
	}
	.mkf_navigation ul li a:hover {
		color: #9894ff;
	}
	.navigation_bullets{
		display:none;
	}
	/* navigation css  end */
	

}

@media (max-width:767px){
	/* download app section css */
	.app_download_part {
		margin-top: 50px;
	}	
	.mockup_image{
		text-align:center;
	}
	.mockup_image img{
		display:inline-block;
	}
	.app_download_part .app_circle{
		margin-bottom:30px;
	}
	/* download app section css */	
	.feature_wrap {
		margin-bottom: 50px;
	}
	.bg_circle_shape:after{
		display:none;
	}
	.mkf_heading{
		text-align:center;
	}
	
	/* home section css */
	.left_heading_section .app_links{
		text-align:center;
	}
	.left_heading_section .app_links a{
		display:inline-block;
		float:none;
	}
	.left_heading_section a.micky_btn.readmore{
		display:inline-block;
		float:none;
	}
	.slider_mockup {
		text-align: center;
		float: left;
		width: 100%;
	}
	.slider_mockup_thumb {
		width: auto;
		margin-top: 50px;
		display: inline-block;
		float: none;
	}
	/* home section css */
	
	/* about heading */
	.left_heading_section{
		text-align:center;
	}
	/* about heading */
	.mkf_contact_section{
		text-align:center;
	}
	
}
@media (max-width:480px){
	.mkf_heading h1{
		font-size:30px;
	}
	/* contact map css */
	.right_map_thumb img {
		width: 250px;
	}
	.contact_map {
		padding: 34px 101px 128px 37px;
	}
	/* contact map css */
}
@media (max-width:420px){
	.mockup_bg > img {
		width: 200px;
	}
	.mockup_bg .mockup_bg_inner {
		padding: 34px 36px;
	}
	
}
@media(max-width:320px){
	.slider_mockup_thumb .cricle_button {
		width: 125px;
		height: 125px;
		font-size: 11px;
		line-height: 25px;
		padding-top: 26px;
		top: -33px;
	}
	.mkf_heading h1 {
		font-size: 24px;
	}
}

@media (max-width:241px){
	.contact_map {
		padding: 25px 77px 99px 29px;
	}
	.app_download_part .app_circle > a {
		width: 185px;
		height: 185px;
		padding-top: 48px;
	}
}