/*
Copyright (c) 2016 Micky 4.0
------------------------------------------------------------------
[Master style Stylesheet]
Project:	 Micky 4.0
-------------------------------------------------------------------

[Table of contents]
1. body css
2. common css
3. navigation css
4. Home css
5. about us css
6. feature section css
7. screenshot css 
8. download css 
9. contact css 
10.preloader css 

------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 1. body start
----------------------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: avenir;
    font-size: 14px;
    line-height: 1.42857143;
}
/*----------------------------------------------------------------------------------
 1. body end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 2. common css start
----------------------------------------------------------------------------------*/

.center_align {
    text-align: center;
}
.full_width {
    float: left;
    width: 100%;
}
input:focus,
textarea:focus {
    outline: none;
}
.micky_btn {
    color: #ffffff;
    background-color: #E06B29;
    display: inline-block;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    position: relative;
    z-index: 1;
}
.micky_btn:after {
    position: absolute;
    content: "";
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    opacity: 0;
}
.micky_btn:hover {
    color: #E06B29;
}
.micky_btn:hover:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}
.mkf_heading {
    float: left;
    width: 100%;
    padding-bottom: 75px;
}
.mkf_heading h1 {
    margin: 0px;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.center {
    text-align: center;
}
/* placeholder css start */

.input_field::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: #696a6c;
}
.input_field::-moz-placeholder,
.textarea::-moz-placeholder {
    color: #696a6c;
}
.input_field:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: #696a6c;
}
.input_field:-moz-placeholder,
.textarea:-moz-placeholder {
    color: #696a6c;
}

.input_field:focus::-webkit-input-placeholder,
.textarea:focus::-webkit-input-placeholder {
    color: #ffffff;
}
.input_field:focus::-moz-placeholder,
.textarea:focus::-moz-placeholder {
    color: #ffffff;
}
.input_field:focus:-ms-input-placeholder,
.textarea:focus:-ms-input-placeholder {
    color: #ffffff;
}
.input_field:focus:-moz-placeholder,
.textarea:focus:-moz-placeholder {
    color: #ffffff;
}
/* placeholder css start */
/*----------------------------------------------------------------------------------
 2. common css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 3. navigation css start
----------------------------------------------------------------------------------*/

.mkf_header_cover {
    float: left;
    width: 100%;
}
.mkf_section {
    float: left;
    width: 100%;
}
.mkf_navigation_wrapper {
    float: left;
    width: 100%;
    padding-top: 20px;
    background: #182945 url("../images/bg_image.png");
    background-position: 50%;
    background-size: cover;
}
.mkf_logo {
    float: left;
    line-height: 41px;
}
.mkf_navigation {
    float: right;
    width: auto;
}
.mkf_navigation ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.mkf_navigation ul li {
    list-style: none;
    float: left;
    position: relative;
}
.mkf_navigation > ul > li:after {
    background-color: #a285e6;
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.mkf_navigation > ul > li.active:after,
.mkf_navigation > ul > li:focus:after,
.mkf_navigation ul li:hover:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.mkf_navigation ul li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 24px 20px 24px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    letter-spacing: 0.1em;
    line-height: 41px;
    font-weight: normal;
    backface-visibility: hidden;
}
.mkf_navigation ul li .dropdown_toggle {
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    top: 0;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
}
.mkf_navigation ul li .dropdown_toggle:after {
    position: absolute;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -3px;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
}
.dropdown_toggle:hover {
    border-color: #ee4852 !important;
}
.dropdown_toggle:hover.dropdown_toggle:after {
    border-top: 6px solid #ee4852;
}
/*--------submenu css start---------*/

.mkf_navigation > ul > li > ul {
    position: absolute;
    min-width: 200px;
    background-color: #1e1e1e;
    z-index: 9;
    top: 100%;
    left: 0;
    display: none;
}
.mkf_navigation ul li:hover > ul {
    display: block;
}
.mkf_navigation > ul > li > ul > li {
    display: block;
    width: 100%;
}
.mkf_navigation > ul > li > ul > li > a {
    display: block;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 16px;
}
.mkf_navigation > ul > li.active > ul li a {
    color: #fff;
}
.mkf_navigation > ul > li.active > ul li a:hover {
    color: #ee4852;
}
/*--------submenu css end---------*/
/* second level submenu css start */

.mkf_navigation > ul > li > ul > li > ul {
    position: absolute;
    min-width: 200px;
    background-color: #1e1e1e;
    z-index: 9;
    top: 0;
    left: 100%;
    right: auto;
    display: none;
}
.mkf_navigation > ul > li > ul > li:hover > ul {
    display: block
}
.mkf_navigation > ul > li > ul > li > ul > li {
    display: block;
    width: 100%;
}
.mkf_navigation > ul > li > ul > li > ul > li > a {
    display: block;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 16px;
}
/* second level submenu css end */
/*toogle icon css start*/

.menu_toggle {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.menu_toggle span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu_toggle span:nth-child(1) {
    top: 0px;
}
.menu_toggle span:nth-child(2) {
    top: 18px;
}
.menu_toggle span:nth-child(3) {
    top: 36px;
}
.menu_toggle.toggle_open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.menu_toggle.toggle_open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.menu_toggle.toggle_open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/*toogle icon css end*/
/* navigation bullets css start */

.navigation_bullets {
    position: fixed;
    z-index: 99;
    top: 50%;
    margin-top: -150px;
    right: 30px;
    width: 30px;
}
.bullets_wrap {
    float: left;
    width: 100%;
	padding:0;
	margin:0;
}

.bullets_wrap li{
	list-style:none;
	float:left;
	padding:20px 15px;
	position:relative;
	cursor:pointer;
}
.bullets_wrap li a {
	display:inline-block;
    width: 15px;
    height: 15px;
    background: #8e8e92;
    border-radius: 100%;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
	position:relative;
}
.bullets_wrap > li .page_title {
    position: absolute;
    top: -8px;
    right: 14px;
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 6px 0;
    color: #fff;
    text-transform: capitalize;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    visibility: hidden;
    opacity: 0;
}
.bullets_wrap > li:hover .page_title {
    right: 30px;
    visibility: visible;
    opacity: 1;
}
.bullets_wrap a:hover,
.bullets_wrap a.active {
    background-color: #E06B29;
}

/* navigation bullets css start */
/*----------------------------------------------------------------------------------
 3. navigation css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 4. Home css start
----------------------------------------------------------------------------------*/

.bg_img_wrapper {
    float: left;
    width: 100%;
    background-color: #182945;
    background-image: url("../images/bg_image.png");
    background-size: cover;
}
.mkf_home_section {
    background: #D5DFE7 url('../images/main-gb.jpg');
    background-position: center center;
    padding: 80px 0 60px;
}
.slider_text .left_heading_section {
    padding-top: 100px;
}
.slider_text .left_heading_section > h1 {
    margin-bottom: 16px;
    -webkit-animation: fromleft 2s 1;
    -moz-animation: fromleft 2s 1;
    animation: fromleft 2s 1;
}
.slider_text .left_heading_section > p{
	-webkit-animation: fromleft 2s 1;
	-moz-animation: fromleft 2s 1;
	animation: fromleft 2s 1;
}
.left_heading_section .app_links {
    float: left;
    width: 100%;
}
.left_heading_section .app_links a {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.left_heading_section .app_links a:last-child {
    margin-right: 0px;
}
.slider_mockup {} 
.slider_mockup_thumb {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
}
.slider_mockup_thumb img {
    display: inline-block;
}
.slider_mockup_thumb .cricle_button {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: #E06B29;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    border-radius: 100%;
    text-align: center;
    padding-top: 62px;
    position: absolute;
	z-index:1;
    top: 48px;
    right: 20px;
}
.slider_mockup_thumb .cricle_button:after,
.slider_mockup_thumb .cricle_button:before {
 content:"";
 position:absolute;
 border:1px solid #fff; 
 border-radius:100%;
 top:-2px;
 left:-2px;
 right:-2px;
 bottom:-2px;
 z-index: -1;
 animation: circle_zoom 2s infinite;
 -webkit-animation: circle_zoom 2s infinite;
 -moz-animation: circle_zoom 2s infinite;
    
}
.slider_mockup_thumb .cricle_button:after{
	border:1px solid #fff; 
	animation: circle_zoom 2s infinite 0.5s;
	-webkit-animation: circle_zoom 2s infinite 0.5s;
	-moz-animation: circle_zoom 2s infinite 0.5s;
}
/*----------------------------------------------------------------------------------
 4. Home css end
----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------
 5. about us css start
----------------------------------------------------------------------------------*/

.mkf_about_us_section {
    padding: 95px 0 0px;
}
.left_heading_section {
    float: left;
    width: 100%;
}
#Home .left_heading_section > h1 {
    color: #182945;
}
#Home .left_heading_section > p {
    color: #182945;
}
.left_heading_section > h1 {
    font-size: 40px;
    margin-top: 0px;
	padding-right:10px;
    color: #fff;
    letter-spacing: 0.01em;
}

.left_heading_section > p {
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-bottom: 30px;
}
.left_heading_section a.micky_btn.readmore {
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 100%;
    padding-top: 37px;
	z-index:15;
}
.left_heading_section a.readmore:focus {
    outline: none;
    color: #E06B29;
    background-color: #ffffff;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	::i-block-chrome,.left_heading_section a.micky_btn.readmore{
     padding: 38px 32px;
    }
} 
.mkf_right_image {
    float: left;
    width: 100%;
    margin-bottom: -5px;
    margin-left: -54px;
}
/*----------------------------------------------------------------------------------
 5. about us css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 6. feature section css start
----------------------------------------------------------------------------------*/

.bg_circle_shape {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -180px;
}
.bg_circle_shape .mkf_section {
    position: relative;
    z-index: 11;
}
.bg_circle_shape:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20%;
    top: 0;
    background-color: #E06B29;
    border-radius: 100%;
}
.mkf_feature_section {
    padding: 100px 0px;
}
.feature_wrap {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
}
.feature_wrap i {
    color: #fff;
    font-size: 70px;
}
.feature_wrap svg {
    fill: #fff;
    width: 104px;
    height: 70px;
}
.feature_wrap .feature_app_details {
    float: left;
    width: 100%;
    padding: 32px 10px 0px;
}
.feature_app_details h2 {
    text-transform: uppercase;
    line-height: 41px;
    margin-top: 0;
    letter-spacing: 0.015em;
    margin-bottom: 20px;
}
.feature_app_details p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
}
/*----------------------------------------------------------------------------------
 6. feature section css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 7. screenshot css start
----------------------------------------------------------------------------------*/

.mkf_screenshot_section {
    padding: 50px 0px;
}
.mockup_short {
    float: right;
    width: auto;
}
.crousel_indicator {
    float: left;
    width: auto;
}
#screen_crousel .carousel-indicators {
    position: relative;
    width: 100%;
    left: auto;
    margin-left: 0px;
    bottom: 0;
}
#screen_crousel .carousel-indicators > div {
    float: left;
    margin-right: 2%;
    width: 23%;
    cursor: pointer;
    list-style: none;
}
#screen_crousel .carousel-indicators > div:last-child {
    margin-right: 0px;
}
#screen_crousel .carousel-indicators > div img {
    max-width: 100%;
}
.mockup_bg {
    float: left;
    width: 100%;
    position: relative;
}
.mockup_bg img {
    width: 100%;
}
.mockup_bg .mockup_bg_inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 66px 71px;
}
/*----------------------------------------------------------------------------------
 7. screenshot css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 8. download css start
----------------------------------------------------------------------------------*/

.mkf_download_section {
    padding: 20px 0px 100px;
}
.app_download_part {
    float: left;
    width: 100%;
}
.app_download_part .mkf_heading {
    padding-bottom: 95px;
	padding-top:15px;
}
.app_download_part .mkf_heading h1 {
    margin-bottom: 15px;
}
.app_download_part .mkf_heading > p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    color: #ffffff;
}
.app_download_part .app_circle {
    text-align: center;
    float: left;
    width: 100%;
}
.app_download_part .app_circle:focus {
    outline: none;
}
.app_download_part .app_circle > a {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    padding-top: 50px;
}
.app_circle > a:before {
    position: absolute;
    content: "";
    box-shadow: 0px 5px 0px rgba(29, 29, 37, 0.3);
    display: block;
    bottom: -30px;
    left: 50%;
    height: 5px;
    border-radius: 100%;
    width: 120px;
    margin-left: -60px;
}
.app_download_part .app_circle:hover a {
    color: #1d1d25;
    text-decoration: none;
}
.app_download_part .app_circle > a > i {
    font-size: 42px;
}
.app_download_part .app_circle > a h4 {
    font-size: 18px;
    line-height: 41px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 0;
}
/*----------------------------------------------------------------------------------
 8. download css end
----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
 9. contact css start
----------------------------------------------------------------------------------*/

.mkf_contact_section {
    padding: 100px 0px 0px;
   /* background: #1d1d25 url("../images/bg_image.png") no-repeat;*/
    background: #182945;
    background-position: 100%; 
	background-size: cover;
} 
.mk_contact_form {
    float: left;
    width: 100%;
}
.mk_contact_form form {
    width: 100%;
    float: left;
}
.mk_contact_form input.input_field,
.mk_contact_form .textarea {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    background-color: #2a4571;
    padding-left: 30px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 24px;
}
.mk_contact_form input.input_field {
    height: 50px;
}
.mk_contact_form .textarea {
    height: 161px;
    padding-top: 15px;
	resize:none;
}
.mk_contact_form p#err {
    font-size: 18px;
    padding-top: 10px;
	letter-spacing: 0.05em;
}
.mk_contact_form button:focus {
    outline: none;
}
.mk_contact_form .cnt_btn {
    height: 50px;
    line-height: 50px;
    padding: 0 42px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
}
.mk_contact_form .micky_btn:after {
    border-radius: 30px;
}
.right_map_thumb{
	text-align:center;
	position:relative;
}
.right_map_thumb img {
    display: inline-block;
	position:relative;
}
.contact_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:61px 184px 235px 68px;
	z-index:0;
}

.contact_map #big_googlemap {
    width: 100%;
    height: 100%;
}

.footer_copyright {
    float: left;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-top: -64px;
}
/*----------------------------------------------------------------------------------
 9. contact css end
----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------
 10. preloader css start
----------------------------------------------------------------------------------*/
.micky_preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
	background-color:#1d1d25;
	z-index:999;
}
.loader_overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
	text-align:center;
}
.loader_overlay .cricle_button {
    width: 180px;
    height: 180px;
    display: inline-block;
    background-color: #E06B29;
    color: #fff;
    font-size: 18px;
    line-height: 180px;
    text-transform: uppercase;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left:50%;
	margin-left:-90px;
	margin-top:-90px;
}
.loader_overlay .cricle_button:after, 
.loader_overlay .cricle_button:before {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    animation: circle_zoom 2s infinite;
    -webkit-animation: circle_zoom 2s infinite;
    -moz-animation: circle_zoom 2s infinite;
}
.loader_overlay .cricle_button:after {
    border: 1px solid #fff;
    animation: circle_zoom 2s infinite 0.5s;
    -webkit-animation: circle_zoom 2s infinite 0.5s;
    -moz-animation: circle_zoom 2s infinite 0.5s;
}
/*----------------------------------------------------------------------------------
 10. preloader css end
----------------------------------------------------------------------------------*/

.margin-10 {
    margin: 10px;    
}
.footer-countries{
    color: #989898;
}

input::placeholder {
  color: red;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
input:-moz-placeholder { /* Firefox 18- */
  color: pink;
}